*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: rgb(253, 251, 251);
    margin-left: 10px ;
    margin-right: 10px;
  }
  
#cabecalho {
    background: darkgreen;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    border-bottom: 5px double black;
  }

#cabecalho h1{
    text-align: center;
    color: white;
}

.container {
    margin-top: 85px;
    height: 150px;
}

.caixa{
    background-color:rgb(241, 239, 239);
    display: inline-block;
    padding: 5px;
    
}
  
.titulo {
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    color: rgb(119, 23, 23);
    text-decoration:underline;
  }

.textos{
    
    height: 340px;
    overflow-y: auto;

}

footer{
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 15%;
  width: 100%; 
}
div.textos h3 p:nth-child(odd) {
  color:chartreuse;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}