*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  
}
body {
  background-color: rgb(253, 251, 251);
  margin-left: 10px ;
  margin-right: 10px;
  }
  
#cabecalho {
  background: darkgreen;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
  border-bottom: 5px double black;
  }

#cabecalho h1{
  text-align: center;
  color: white;
  padding-top: 20px;
}

#aboutme{
  background-color: rgb(110, 187, 100);
  margin-left: 10px;
  margin-top: 50px;
  
}
#aboutme h2, #aboutme p{
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
#aboutme img{
  position: relative;
  float:left;
  margin-left: 5px;
  margin-top: 5px;
  padding: 3px;
  background-color: blueviolet;
  
}

.container {
  margin-top: 300px;
  height: 150px;
}

  
.titulo {
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
  color: rgb(119, 23, 23);
  text-decoration:underline;
}

.container .titulo{
  margin-top: 50px;
}
.textos{
  height: 320px;
  overflow-y: auto;
  line-height: 170%;
}

footer{
position: fixed;
left: 0;
bottom: 0px;
height: 15%;
width: 100%; 
}

ul li:nth-child(odd){
  color:rgb(224, 11, 224)
}

div.textos h3 p:nth-child(odd) {
color:chartreuse;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}